!Clases/
Clases/*
!Clases/src/
Clases/src/*
!Clases/src/clases/

!Ejercicios/
Ejercicios/*
!Ejercicios/src/
Ejercicios/src/*
!Ejercicios/src/ejercicios/

!Retos/
Retos/*
!Retos/src/
Retos/src/*
!Retos/src/retos/
